.ui-text-input {
  transition: all 0.25s ease;
  border: none;
  border-bottom: 1px solid var(--nightRider);
  background: none;
  padding-bottom: 2px;
}

.ui-text-input:hover {
 border-bottom-color: var(--dimGray);
}

.ui-text-input:focus {
  outline: none;
  box-shadow: none;
  border-bottom-color: currentColor;
}
