.character-sheet {
  margin: 0 auto;
  
  .character-name {
    margin-bottom: 2rem;
    display: inline-block;
  }
  
  .character-name .header-field-input {
    font-size: 2rem;
    width: 100%;
  }

  .header-field-list {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .header-field-item {
    flex: 6;
    
    &.size-small {
      flex: 3;
    }
    
    & + .header-field-item {
      padding-left: 1rem;
    }
  }
  
  .header-field-text {
    color: var(--dimGray);
  }
  
  .header-field-input {
    font-size: 1.2rem;
    width: 100%;
    display: block;
  }
  
  .character-image {
    width: 16.875rem;
    height: 22.5rem;
    margin-right: 2rem;
    float: left;
  }
  
  .character-image-content {
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    border: 1px solid var(--nero);
    width: 100%;
    height: 100%;
  }
}
