<!DOCTYPE html>
<html>
<head>
  <title>Dungeoneer</title>
  <%= stylesheet_link_tag    '/stylsheets/application.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/javascripts/application.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
