<!DOCTYPE html>
<html>
<head>
  <title>Dungeoneer</title>
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Asul:400,700,600' />
  <%= stylesheet_link_tag '/stylesheets/application.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class='app-nav'></nav>
  <main class='app-content'><%= yield %></main>
  <%= javascript_include_tag '/javascripts/application.js', 'data-turbolinks-track' => true %>
</body>
</html>
